/*Настройка контента на фоне*/
body {
	background-color: #f1f1f2;
	margin: 0;
	padding: 0;
}

/*Оглавление сайта*/

/*Настройка параметров изображения*/
.container {
	background-image: url(https://u.9111s.ru/uploads/202112/28/ef6cffb4f9a0570bf90ee8ae7be41d1a.jpg);
	height:450px;
	border-radius: 20px;
	display: inline-block;
}
/*Настройка параметров надписи*/
.text-osn {
	font-family: Inter;
	text-align: center;
	color: #3c4573;
	font-size: 30px;
	position: relative;
	top: 120px;
}
.container>p{
	font-family: Inter;
	color: #3c4573;
	font-size: 30px;
	position: relative;
	top: 100px;
	text-align:right;
	padding: 10px;
}

/*Навигационная панель*/
.nav-container{
	font-family: Inter;
	display: flex;
	justify-content: flex-end;
	margin: 10px;
	background-color: #fff;
	border-radius: 5px;
}

.nav-container>nav>ul {
	display: flex;
	list-style: none;
	align-items: center;
	margin: 0;
	padding: 0;
}
.nav-container>nav>ul>li>a{
	display: block;
	padding: 10px;
	border-style: solid;
	border-width: 0,5px;
	border-color: white;
	border-radius: 5px;
}

/*Настройка параметров надписи даты*/
.time-script{
	font-family: Inter;
	font-size:15px;
	color:#5c86b5;
	margin: 10px;
}
/*Стиль текста под изображением*/
.under-text{
	display: flex;
	justify-content: space-between;
	font-family: Tahoma, Arial, 'PT Mono';
	font-size:14px;
}
.under-text>ul {
	list-style: none;
	text-align: justify;
	border-style: solid;
	border-radius: 20px;
	border-color: #5c86b5;
	background: #5c86b5;
	color: #f4f1ea;
	padding: 20px;
	margin: 15px;
	width:450px;
}

.text li.hide{
	display: none;
}

mark{
	background: red;
}