/*Настройка контента на фоне*/
body {
	background-color: #f1f1f2;
	margin: 0;
	padding: 0;
}
/*Настройка параметров надписи даты*/
.time-script{
	font-family: Inter;
	font-size:15px;
	color:#5c86b5;
	margin: 10px;
}
/*Навигационная панель*/
.nav-container{
	font-family: Inter;
	display: flex;
	justify-content: flex-end;
	margin: 10px;
	background-color: #fff;
	border-radius: 5px;
}
.nav-container>nav>ul {
	display: flex;
	list-style: none;
	align-items: center;
	margin: 0;
	padding: 0;
}
.nav-container>nav>ul>li>a{
	display: block;
	padding: 10px;
	border-style: solid;
	border-width: 0,5px;
	border-color: white;
	border-radius: 5px;
}
/*Настройка параметров надписи*/
.label {
 	background-image: url(https://u.9111s.ru/uploads/202112/28/ef6cffb4f9a0570bf90ee8ae7be41d1a.jpg);
	height:400px;
 	width: 100%;
	border-radius: 20px;
	display: inline-block;
}
.label-vnt{
  	font-family: Inter;
	text-align: center;
	color: #3c4573;
	font-size: 50px;
	position: relative;
	top: 100px;
}
/*Настройка параметров общего текста*/
.container-text {
	background: #779bc4;
	margin-left: 10px;
  	margin-right: 10px;
	color:#ffffff;
	border-radius: 20px;
	position: relative;
	top: 10px;
 	font-family: Inter;
	padding: 5px;
}
/*Настройка параметров заголовков*/
.h-text{
	text-align: center;
}
/*Настройка параметров текста под заголовком*/
.text-history>p{
	text-align: justify;
}
/*Вид ненумерованного списка*/
.ul-his>ul{
	list-style:circle;
}

/*Вид ненумерованного списка*/
.ul-his-sec>ul{
	list-style:circle;
}




